@import "../pages/settings.scss";

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-4;
  height: 100vh;
  padding: 100px;
  font-size: 20px;
}

.photo {
  margin-top: 40px;
  border-radius: 50%;
  width: 100px;
  height: auto;
}

h1 {
  padding: 10px;
  font-size: 45px;
}

p {
  font-size: 18px;
}
