@import "../pages/settings.scss";

.footer-container {
  width: 100%;
  // Dégradé linéaire avec les couleurs de la palette
  background-image: linear-gradient(
    to right,
    $color-8,
    $color-7,
    $color-6,
    $color-5,
    $color-4,
    $color-3,
    $color-2,
    $color-1
  );
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container p {
  color: white;
  font-size: 14px;
}

.icons-color .icon-git,
.icons-color .icon-link,
.icons-color .icon-mail {
  color: white;
}
