@import "../pages/settings.scss";

header {
  // position: fixed;
  width: 100%;
  // Dégradé linéaire avec les couleurs de la palette
  background-image: linear-gradient(
    to right,
    $color-8,
    $color-7,
    $color-6,
    $color-5,
    $color-4,
    $color-3,
    $color-2,
    $color-1
  );
  padding: 50px;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

nav {
  display: flex;
  align-items: center;
}

.navigation ul {
  display: flex;
  gap: 60px;
}

.navigation a {
  color: white;
  padding: 10px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    color: #bd68ee;
  }
}

.nav-active {
  position: relative;

  &::after {
    content: "";
    height: 4px;
    width: 0;
    background: #bd68ee;
    position: absolute;
    border-radius: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: anim 0.3s ease forwards;
    animation: anim 0.6s ease forwards;

    @-webkit-keyframes anim {
      to {
        width: 100%;
      }
    }
    @keyframes anim {
      to {
        width: 100%;
      }
    }
  }
}

.nav-active li {
  color: #bd68ee;
}
