@import "../pages/settings.scss";

body {
  margin: 0;
  padding: 0;
}

.background-container {
  background-image: url("../../assets/img/dmitry-chernyshov-mP7aPSUm7aE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.typewriter-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 30px;
}

.title-main {
  color: white;
  font-size: 50px;
  margin: 0;
}

.subtitle {
  font-family: "Poppins-Regular" sans-serif;
  font-size: 45px;
  color: white;
  margin: 0;
}

// --------------- Ajout flèche ----------------
.arrow-container {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

// ------------- Animation fleche ------------------------
.fade {
  animation: fade 1s infinite;
  font-size: 2em;
  font-weight: 100;
  color: $color-8;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//  ------------- Présentation -------------

.about-container {
  margin: 20px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-4;
  font-size: 20px;
}

.about-container h2 {
  margin: 70px 0 70px 0;
}

.photo {
  margin-top: 105px;
  border-radius: 50%;
  border: 1px solid $color-4;
  padding: 5px;
  width: 100px;
  height: auto;
}

p {
  font-size: 18px;
  max-width: 80%;
  margin: 10px auto;
  color: #343a40;
}

.presentation-icons .icon-git,
.presentation-icons .icon-mail,
.presentation-icons .icon-link {
  margin-top: 50px;
  width: 33px;
  height: 33px;
}

.icons-presentation .icon-git,
.icons-presentation .icon-mail,
.icons-presentation .icon-link {
  color: $color-4;
}

// ----------------------- Compétences --------------------

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-container h2 {
  margin: 100px 0 70px 0;
}

.skills-container p {
  width: 70%;
  margin-bottom: 50px;
}

.skills-title {
  text-align: center;
}

.icon-skills {
  text-align: center;
}

.icon-html,
.icon-css,
.icon-sass,
.icon-js,
.icon-react,
.icon-nodejs,
.icon-github1 {
  width: 60px;
  height: 60px;
  margin-right: 50px;
}

.first-icon {
  margin-bottom: 30px;
}

.icon-sass {
  color: #cd6799;
}
.icon-html {
  color: #ff5733;
}
.icon-css {
  color: #0000ff;
}
.icon-js {
  color: #f0db4f;
}
.icon-react {
  color: #61dbfb;
}
.icon-nodejs {
  color: #3c873a;
  margin: 20px 0;
}

.icon-github1 {
  margin: 20px 0;
}

// -------------------------- Portfolio -------------------------

.project-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  text-align: center;
  margin: 100px 0 50px 0;
}

.img-container {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 100px;
}

.img-booki,
.img-kasa,
.img-bluel,
.img-nina {
  border: 1px solid $color-8;
  border-radius: 20px;
  flex-basis: calc(33.33% - 100%);
  height: 250px;
  object-fit: cover;
  transition: background-color 0.3s ease;
}

// ------------------------------- Contact ------------------------
.contact h2 {
  text-align: center;
  margin: 150px 0 70px 0;
}

/* Pour masquer visuellement le label */
label {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 100px;
}

input {
  font-family: "Poppins-Regular" sans-serif;
  font-size: 15px;
  width: 530px;
  height: 30px;
  border-radius: 5px;
  border: 0.5px solid #343a40;
}

textarea {
  font-size: 15px;
  width: 530px;
  border: 0.5px solid #343a40;
  border-radius: 5px;
}

.btn-contacter {
  font-family: "Poppins-Regular" sans-serif;
  font-size: 15px;
  width: 530px;
  height: 35px;
  background-color: $color-4;
  color: white;
  border: none;
  border-radius: 5px;
}
