body {
  margin: 0;
  padding: 0;
}

.home-container {
  background-image: url("../../assets/img/dmitry-chernyshov-mP7aPSUm7aE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
