@import "../pages/settings.scss";

.icons {
  display: flex;
  gap: 25px;
}

.icon-git,
.icon-mail,
.icon-link {
  width: 25px;
  height: 25px;
  cursor: pointer;
  :hover {
    color: $color-8;
  }
}

/* Mobiles */
@media screen and (max-width: 768px) {
  .icon-git,
  .icon-mail,
  .icon-link {
    width: 20px;
    height: 20px;
  }
}
