@import "../pages/settings.scss";

.project-container {
  position: relative;
  width: 100%;
}

.title h1 {
  font-family: "Poppins-Bold", sans-serif;
  color: $color-3;
  margin-top: 30px;
  text-align: center;
}

.img-container {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
}

.img-booki,
.img-kasa {
  border: 1px solid $color-8;
  border-radius: 20px;
  width: 400px;
  height: 350px;
}

.projet-details {
  color: $color-4;
  text-align: center;
}

.projet-details h2 {
  font-family: "Poppins-Bold", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}
.projet-details p {
  color: #2b2d42;
  font-size: 18px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.lien-icons {
  margin-top: 20px;
  display: flex;
  gap: 80px;
  justify-content: center;
}

.icon-github,
.icon-globe {
  border: 1.5px solid $color-4;
  border-radius: 50%;
  margin: 10px;
  padding: 2.5px;
  width: 40px;
  height: 40px;
  color: $color-4;
  cursor: pointer;
  :hover {
    color: $color-8;
  }
}

.title-lien {
  font-family: "Poppins-Bold", sans-serif;
  font-size: 25px;
  margin-top: 30px;
}

.competences-container h3 {
  font-family: "Poppins-Bold", sans-serif;
  font-size: 25px;
  margin-top: 30px;
}

.competence-ul {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.competence-li {
  border: 1px solid $color-6;
  border-radius: 20px;
  padding: 0 25px;
  color: $color-6;
}
